body,header,nav,a,div,section,input,ul,li,a,p{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
body>div{
    border:1px solid #758290;
    display: inline-block;
}
body>div header{
    background: -webkit-linear-gradient(#fff 30%,#e0e5f5 70% );
    background: -moz-linear-gradient(#fff 30%,#e0e5f5 70% );
    background: -o-linear-gradient(#fff 30%,#e0e5f5 70% );
    background: linear-gradient(#fff 30%,#e0e5f5 70% );
    border-bottom: 1px solid #c1c5d1;
}
body div header nav a{
    color:#000;
    font-weight: 500;
    text-decoration: none;
    padding: 0 0.5rem;    
}
body div header nav a:hover{
    background-color:#bbdbfb ;
}
input,.binary, .radio{
    border: 1px solid #9faec0;
    border-radius:3px; 
}
body section form{
    background: -webkit-linear-gradient(#fff,#d2d9ec);
    background: -moz-linear-gradient(#fff,#d2d9ec);
    background: -o-linear-gradient(#fff,#d2d9ec);
    background: linear-gradient(#fff,#d2d9ec);
}
body section div>ul>li{
    list-style-type: none;
}
.numbers,.radio{
    display: inline-block;
}
input[type="button"]{
    height: 1.5rem;
    width: 2rem;
    margin: 0 0.25rem 0.25rem 0;
    background: -webkit-linear-gradient(#eff5fb 50%,#e3eaf3 50%);
    background: -moz-linear-gradient(#eff5fb 50%,#e3eaf3 50%);
    background: -o-linear-gradient(#eff5fb 50%,#e3eaf3 50%);
    background: linear-gradient(#eff5fb 50%,#e3eaf3 50%);
}
.numbers input,.symbols .radio li,.binary p a{
        color: #465da9;
}
input[type="button"]:hover{
}
input[type="button"]:disabled{
    background-color: transparent;
}
input#equal{
    float:right;
}
input#zero{
}
input[value="none"]{
    color:transparent;
}
input[type="text"]{
    text-align: right;
    margin: 0.75rem 0.75rem 0.5rem;
    height: 3rem;
    background: -webkit-linear-gradient(#e9f1fc,#fff);
    background: -moz-linear-gradient(#e9f1fc,#fff);
    background: -o-linear-gradient(#e9f1fc,#fff);
    background: linear-gradient(#e9f1fc,#fff);
    font-size: 1.5rem;
}
input[type="text"],.binary{        
    padding: 0 0.25rem;
}
input[type="text"],.binary,.symbols{
    width:25rem;
}
input[type="text"],.binary p,.binary p a{
    font-family: 'Consolas',sans-serif;
}
.binary{
    margin: 0 0.75rem;
}
.binary p{
    text-align: justify;
}
.binary p a{
    text-decoration:none;
}
.symbols{
    margin:0.25rem 0.75rem 0rem;
}
.radio{
    width:4rem;
    padding:0.25rem;
}



