body,section,article,div,h2,h3,img,input{
    margin: 0;
    padding:0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size:14px;
}
section{
    background-color: #d6d6d6;
    border-radius:5px;
    width:40%;
    margin:1%;
}
section h2{
    font-weight: normal;
    padding:1%
}
section article{
    background-color: #fff;
    border:1px solid #000;
    margin:6% 2%;
}
h3{
    display: none;
}
img{
    display:inline-block;
    width:30%;
    margin:3%;
}
article div{
    position:relative;
    display:inline-block;
    float:right;
    width:58%;
    height:8.5em;
    margin:3%;
}
input[value="Add"]{
    position:absolute;
    bottom:0;
    right:0;
    }
   input[value="Listen"]{
    position:absolute;
    bottom:0;
    right:25%;
    }