table{
    border-bottom: 1px solid #b2b2b2;
    border-collapse: collapse; 
}
table thead tr th,
table tbody tr td{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    padding: 5px 25px 5px 5px;
}
table tr th:nth-child(even),
table tr td:nth-child(even),
table tr th:nth-child(3),
table tr td:nth-child(3){
    border-left: 1px solid #ccc;
}
table thead {
    background-color: #31f931;
    color: #fff;
    font-weight: normal;
    text-align: left;
}
table tbody tr:nth-child(even){
    background-color: #e5e5e5;
}